.limiter {
  width: 100%;
  margin: 0 auto;
}

table {
  width: 100%;
  background-color: #fff;
  margin-top: 1em;
  table-layout: fixed;
  word-wrap: break-word;
  overflow:hidden;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
  overflow: hidden;
}
