<app-admin></app-admin>

<div style="margin-left:22%">
  <div class="table100 ver2 m-b-110" id="tabused">
    <table data-vertable="ver2">
      <thead>
        <tr class="row100 head">
          <th class="column100 column1" data-column="column1">Pseudo</th>
          <th class="column100 column2" data-column="column2">Identifiant Blockchain</th>
          <th class="column100 column3" data-column="column3">Réclamations</th>
          <th class="column100 column4" data-column="column4">Trust Index</th>
          <th class="column100 column5" data-column="column4">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row100">
          <td class="column100 column1" data-column="column1">Pseudo</td>
          <td class="column100 column2" data-column="column2">0x190ZS0VSN</td>
          <td class="column100 column3" data-column="column3">--</td>
          <td class="column100 column4" data-column="column4">102</td>
          <td class="column100 column5" data-column="column5">
            <button type="button" class="btn btn-success" style="color: #808080">+</button>
            <button type="button" class="btn btn-danger" style="margin-left: 70px; color: #808080">-</button></td>
        </tr>
  
      </tbody>
    </table>
  </div>
</div>