#div1{
    text-align: center;
    margin-left: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration-color: navy;
}

h6 {
  color: #006699;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

h2 {
  color: #006699;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 48px;
  text-decoration-color: navy;
  text-align: center;

}
#img1{
    width: 10%;
    height: 10%;
    border: solid 1px grey;
    vertical-align:middle;
}

.wrapper { /*https://codepen.io/anon/pen/YBgxpP pour le faire facilement */
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.two {
  grid-column: 2 /15 ;
  grid-row: 2/ 5;
  text-align: center;
}
video{
  width:600px;
  height: auto;
}


/*------------------------------------------------------------------
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}



/*sidebare*/
/*
.sidebar-fixed {
    height: 100vh;
    width: 470px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    padding: 1.5rem;
    padding-top: 0; }
    .sidebar-fixed .list-group .active {
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .sidebar-fixed .logo-wrapper {
      padding: 2.5rem; }

      .sidebar-fixed .logo-wrapper img {

        max-height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;

       }

  @media (min-width: 1200px) {
    .navbar,
    .page-footer,
    main {
      padding-left: 270px; } }

  @media (max-width: 1199.98px) {
    .sidebar-fixed {
      display: none; } }*/

/*fin sidebare*/






/*sidebare*/



.w3-sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}


.w3-sidebar.list-group list-group-flush .active
{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  -webkit-border-radius: 5px;

  border-radius: 5px;
}



.w3-sidebar .logo-wrapper {
  padding: 0.5 rem;
}

.w3-sidebar .logo-wrapper .img-responsive  {
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto
}



.w3-sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.w3-sidebar a.active {
  background-color: #318CE7;
  color: white;
}

.w3-sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .w3-sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .w3-sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .w3-sidebar a {
    text-align: center;
    float: none;
  }

}





/*fin sidebare*/
