<!-- sidebar-->
<!--
<div class="sidebar-fixed position-fixed">
  <a class="logo-wrapper waves-effect">
    <img class="img-responsive center-block" src="../../assets/side.png"  alt="" >
  </a>
  <div class="list-group list-group-flush">
    <h2 text-align="center" >Actions</h2>
    <a routerLink="/compte" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Mes Statistiques
    </a>
    <a routerLink="/abonnement" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Mes Abonnements
    </a>
    <a routerLink="/diffusion" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon far icon="map" class="mr-3"></mdb-icon>Diffuser du contenu
    </a>
  </div>
</div>
-->
<!-- fin sidebare-->

<!-- sidebar-->


<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
  <a class="logo-wrapper waves-effect">
    <img class="img-responsive center-block" src="../../assets/side2.png" alt="">
  </a>
  <div class="list-group list-group-flush">
    <h2 text-align="center">Actions</h2>
    <a routerLink="/compte" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Mes Statistiques
    </a>
    <a routerLink="/abonnement" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Mes Abonnements
    </a>
    <a routerLink="/diffusion" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon far icon="map" class="mr-3"></mdb-icon>Diffuser du contenu
    </a>
  </div>
</div>

<!-- fin sidebare-->


<div class="container-fluid">

  <div id="div1">
    <mdb-card>
      <mdb-card-body>
        <h6 style="font-size:50px;">Vidéo</h6>
      </mdb-card-body>
    </mdb-card>

    <div class="wrapper">
      <div class="two">
          <div class=" embed-responsive-16by9 ">
            <h3>Vidéo disponible !</h3>
            <br>
            <video controls="" autoplay="" name="media">
              <source src="../assets/video.mp4" type="video/mp4">
            </video>
        </div>
      </div>


      <!--
<div class="col-md-6">
</div>

  <div class="embed-responsive embed-responsive-16by9" >
    <video  controls="" autoplay="" name="media">
     <source src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4" type="video/mp4">
      </video>
    </div>
  </div>


  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM" allowfullscreen></iframe> -->

    </div>

  </div>
</div>