<!-- sidebar-->
<!--
<div class="sidebar-fixed position-fixed">
  <a class="logo-wrapper waves-effect">
    <img class="img-responsive center-block" src="../../assets/side.png"  alt="" >
  </a>
  <div class="list-group list-group-flush">
    <h2 text-align="center" >Actions</h2>
    <a routerLink="/compte" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Mes Statistiques
    </a>
    <a routerLink="/abonnement" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Mes Abonnements
    </a>
    <a routerLink="/diffusion" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
      <mdb-icon far icon="map" class="mr-3"></mdb-icon>Diffuser du contenu
    </a>
  </div>
</div>
-->
<!-- fin sidebare-->

<!-- sidebar-->

  <div class="sidebar">
        <a class="logo-wrapper waves-effect">
          <img class="img-responsive center-block" src="../../assets/side2.png"  alt="" >
        </a>
        <div class="list-group list-group-flush">
          <h2 text-align="center" >Actions</h2>
          <a routerLink="/compte" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Mes Statistiques
          </a>
          <a routerLink="/abonnement" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Mes Abonnements
          </a>
          <a routerLink="/diffusion" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
            <mdb-icon far icon="map" class="mr-3"></mdb-icon>Diffuser du contenu
          </a>
        </div>
</div>

<!-- fin sidebare-->




<div id="div1">
    <!--     titre  de page    -->
          <mdb-card>
            <mdb-card-body>
              <h6 style="font-size:50px; margin-left: ">Vidéo</h6>
           </mdb-card-body>
          </mdb-card>

    <!--     fin titre       -->




<div class="wrapper">
    <div class="one1">
      <span class="contact100-form-title">
        La vidéo que je veux voir
      </span>
    </div>

<!--<div id="vid">-->
<div class="two">
<div class="col-md-6">
         <div class="embed-responsive embed-responsive-16by9 hoverable">
           <video  controls="" autoplay="" name="media">
            <source src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4" type="video/mp4">
             </video>
         </div>
       </div>
</div>


<!--
<div class="col-md-6">
</div>

  <div class="embed-responsive embed-responsive-16by9" >
    <video  controls="" autoplay="" name="media">
     <source src="https://www.radiantmediaplayer.com/media/bbb-360p.mp4" type="video/mp4">
      </video>
    </div>
  </div>


  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM" allowfullscreen></iframe> -->

</div>

</div>
