<div class="container">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../assets/1.jpg" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../assets/carouselLogo.png" alt="Second slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Nos technologies</h3>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../assets/3.jpg" alt="Third slide">
                <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
    <!-- Vertical Steppers -->
    <div class="jumbotron text-center" style="margin-top: 1em;">
        <div class="row mt-1">
            <div class="col-md-12">
                <h3><strong>Notre Projet</strong></h3>
                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-vertical">

                    <!-- First Step -->
                    <li class="completed">
                        <a href="#!">
                            <span class="circle">1</span>
                            <span class="label">Premières semaines</span>
                        </a>
                        <div class="step-content white lighten-3">
                            <p>Prise en main des outils utilisés pour notre projet
                        </div>
                    </li>

                    <!-- Second Step -->
                    <li class="active">

                        <!--Section Title -->
                        <a href="#!">
                            <span class="circle">2</span>
                            <span class="label">Second step</span>
                        </a>


                        <!-- Section Description -->
                        <div class="step-content grey lighten-3">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse cupiditate voluptate
                                facere
                                iusto
                                quaerat
                                vitae excepturi, accusantium ut aliquam repellat atque nesciunt nostrum similique.
                                Inventore
                                nostrum
                                ut,
                                nobis porro sapiente.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore error excepturi veniam
                                nemo
                                repellendus, distinctio soluta vitae at sit saepe. Optio eaque quia excepturi adipisci
                                pariatur
                                totam,
                                atque odit fugiat.</p>
                            <p>Deserunt voluptatem illum quae nisi soluta eum perferendis nesciunt asperiores tempore
                                saepe
                                reiciendis,
                                vero quod a dolor corporis natus qui magni quas fuga rem excepturi laboriosam. Quisquam
                                expedita ab
                                fugiat.</p>
                        </div>
                    </li>

                    <!-- Third Step -->
                    <li class="warning">
                        <a href="#!">
                            <span class="circle"><i class="fas fa-exclamation"></i></span>
                            <span class="label">Third step</span>
                        </a>
                    </li>

                    <!-- Fourth Step -->
                    <li>
                        <a href="#!">
                            <span class="circle">4</span>
                            <span class="label">Fourth step</span>
                        </a>
                    </li>

                </ul>
                <!-- /.Stepers Wrapper -->

            </div>
        </div>
    </div>

</div>