<div class="container">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../assets/welcome.png" alt="First slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../assets/groupe.jpg" alt="Second slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Notre équipe</h3>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100" src="../assets/carouselLogo.png" alt="Third slide">
                <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Nos technologies</h3>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
    <!-- Vertical Steppers -->
    <div class="jumbotron text-center" >
        <div class="row mt-1">
            <div class="col-md-12">
                <h3><strong>Notre Projet</strong></h3>
                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-vertical">

                    <!-- First Step -->
                    <li class="completed">
                        <a href="#!">
                            <span class="circle">1</span>
                            <span class="label">Choix et prise en main des différents outils de simulation et de contrôle du réseau.</span>
                        </a>
                        <div class="step-content white lighten-3">
                            <p>Prise en main des outils utilisés pour notre projet
                        </div>
                    </li>

                    <!-- Second Step -->
                    <li class="active">

                        <!--Section Title -->
                        <a href="#!">
                            <span class="circle">2</span>
                            <span class="label">Implémentation des différentes parties du réseau véhiculaire</span>
                        </a>


                        </li>

                    <!-- Third Step -->
                    <li class="warning">
                        <a href="#!">
                            <span class="circle"><i class="fas fa-exclamation"></i></span>
                            <span class="label">Assembler les différents composants du projet et les faire communiquer.</span>
                        </a>
                    </li>

                    <!-- Fourth Step -->
                    <li>
                        <a href="#!">
                            <span class="circle">4</span>
                            <span class="label">Vérifier les performances réelles</span>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <span class="circle">4</span>
                            <span class="label">Considérer les améliorations possibles.</span>
                        </a>
                    </li>

                </ul>
                <!-- /.Stepers Wrapper -->

            </div>
        </div>
        
    </div>

</div>
