<app-admin></app-admin>

<div style="margin-left:22%">
  <div class="row">
    <div class="col" id="col1">
      <div class="card">
        <div class="card-header">
          <form [formGroup]="researchForm" (ngSubmit)="research()">
            <label for="research"></label>
            <input type="search" name="research" formControlName="research">
            <button>Rechercher</button>
            <div *ngIf="!userSearch && loadingResearch " style="color:red">Pas de résultat </div>
          </form>
        </div>
        <div class="card-body">
          <table mdbTable mdbTableScroll scrollY="true" maxHeight="500" bordered="true">
            <thead>
              <tr>
                <td>Name</td>
                <td>ID</td>
                <td>TI</td>
                <td>&nbsp;</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="userSearch">
                <td><i>{{userSearch.name}}</i></td>
                <td><i>{{userSearch.account}}</i></td>
                <td><i>{{userSearch.trustIndex}}</i></td>
                <td> <button mdbBtn type="button" size="sm" color="danger" outline="true"
                    mdbWavesEffect>Retirer</button></td>
                <td>&nbsp;</td>
              </tr>
              <tr *ngFor="let user of users">
                <td *ngIf="!userSearch"><i>{{user.name}}</i></td>
                <td *ngIf="!userSearch"><i>{{user.account}}</i></td>
                <td *ngIf="!userSearch">{{user.trustIndex}}</td>
                <td *ngIf="!userSearch"> <button (click)="deleteUser(user.name)" mdbBtn type="button" size="sm" color="danger"
                    outline="true" mdbWavesEffect>Retirer</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
 
    <div class="col" id="col2">

        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="contact100-form validate-form  border border-double p-5">
          <span class="contact100-form-title">
            Ajouter un véhicule
          </span>
          <div class="wrap-input100 validate-input">
            <div class="form-group">
              <label for="name"></label>
              <div class="md-form">
                <i class="fas fa-user prefix"></i>
                <input type="text" id="inputIconEx2" class="form-control" formControlName="name" id="basicExample"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [mdbValidation]="false" mdbInputDirective>
                <label for="basicExample">Identifiant véhicule</label>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Identifiant requis </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="ip"></label>
              <div class="md-form">
                <i class="fas fa-at prefix"></i>
                <input mdbInput mdbValidate type="text" formControlName="ip" id="form3" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.ip.errors}">
                <label for="form3">Adresse IP</label>
              </div>
              <div *ngIf="submitted && f.ip.errors" class="invalid-feedback"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="text-center">
            
              <button class="btn btn-dark" type="submit" >Ajouter</button>
            </div>
          </div>
        </form> 
      </div>
 
       
    
    <br>
  </div>
  <div class="alert alert-danger" role="alert" style="width:95%">
    <h4 id="h4alert">Utilisateur à superviser<br>
    </h4>
    <hr>
    <b>Nom: </b> {{userToSupervise.name}}
    <br>
    <b>Trust Index: </b>{{userToSupervise.trustIndex}}
    <br>
    <b>Adresse Ethereum: </b>{{userToSupervise.account}}
  </div>
</div>