<app-admin></app-admin>

<div style="margin-left:22%">
  <div class="row">
    <div class="col" id="col1">
      <div class="card">
        <div class="card-header">
          <form [formGroup]="researchForm" (ngSubmit)="research()">
            <label for="research"></label>
            <input type="search" name="research" formControlName="research">
            <button>Rechercher</button>
            <div *ngIf="!userSearch && loadingResearch " style="color:red">Pas de résultat </div>
          </form>
        </div>
        <div class="card-body">
          <table mdbTable mdbTableScroll scrollY="true" maxHeight="500" bordered="true">
            <thead>
              <tr>
                <td>Name</td>
                <td>ID</td>
                <td>TI</td>
                <td>&nbsp;</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="userSearch">
                <td>{{userSearch.name}}</td>
                <td>{{userSearch.account}}</td>
                <td>{{userSearch.trustIndex}}</td>
                <td> <button mdbBtn type="button" size="sm" color="danger" outline="true"
                    mdbWavesEffect>Retirer</button></td>
                <td>&nbsp;</td>
              </tr>
              <tr *ngFor="let user of users">
                <td *ngIf="!userSearch"><i>{{user.name}}</i></td>
                <td *ngIf="!userSearch"><i>{{user.account}}</i></td>
                <td *ngIf="!userSearch">{{user.trustIndex}}</td>
                <td *ngIf="!userSearch"> <button mdbBtn type="button" size="sm" color="danger" outline="true" mdbWavesEffect>Retirer</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col" id="col2">
      <div class="wrap-contact100" style="width:90%; height:95%">
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="contact100-form validate-form">
          <span class="contact100-form-title">
            Ajouter un véhicule
          </span>
          <div class="form-group">
            <label for="name"></label>
            <div class="wrap-input100 validate-input">
              <span class="label-input100">Identifiant véhicule</span>
              <input class="input100" type="text" name="name" formControlName="name"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Identifiant requis </div>
              </div>
              <span class="focus-input100"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="container-contact100-form-btn">
              <div class="wrap-contact100-form-btn">
                <div class="contact100-form-bgbtn"></div>
                <button [disabled]="loading" class="contact100-form-btn">
                  <span>
                    Ajouter
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
  </div>
  <div class="alert alert-danger" role="alert" style="width:95%">
    <h4 id="h4alert">Utilisateur à superviser</h4>
    <hr>
    <br>
    Afficher nombre de signalements + Stats de diffusion + TI
  </div>
</div>