<app-admin></app-admin>

<div style="margin-left:22%">
  <div class="row">
    <div class="col" id="col1">
      <div class="card" style="border:solid">
        <div class="card-header">
          <form [formGroup]="researchForm" (ngSubmit)="research()">
            <label for="research"></label>
            <input type="search" name="research" formControlName="research">
            <button>Rechercher</button>
            <div *ngIf="!userSearch && loadingResearch " style="color:red">Pas de résultat </div>
          </form>
        </div>
        <div class="card-body">
          <table mdbTable mdbTableScroll scrollY="true" maxHeight="500" bordered="true">
            <thead>
              <tr>
                <td>Name</td>
                <td>ID</td>
                <td>TI</td>
                <td>&nbsp;</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="userSearch">
                <td>{{userSearch.name}}</td>
                <td>{{userSearch.account}}</td>
                <td>{{userSearch.trustIndex}}</td>
                <td> <button mdbBtn type="button" size="sm" color="danger" outline="true"
                    mdbWavesEffect>Retirer</button></td>
                <td>&nbsp;</td>
              </tr>
              <tr *ngFor="let user of users">
                <td *ngIf="!userSearch"><i>{{user.name}}</i></td>
                <td *ngIf="!userSearch"><i>{{user.account}}</i></td>
                <td *ngIf="!userSearch">{{user.trustIndex}}</td>
                <td *ngIf="!userSearch"> <button (onClick)="deleteUser()" mdbBtn type="button" size="sm" color="danger" outline="true" mdbWavesEffect>Retirer</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col" id="col2">
      <div class="wrap-contact100">
        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()" class="contact100-form validate-form">
          <span class="contact100-form-title">
            Ajouter un véhicule
          </span>
          <div class="form-group">
            <label for="name"></label>
            <div class="wrap-input100 validate-input">
              <div class="md-form">
                <i class="fas fa-user prefix"></i>
                <input type="text" id="inputIconEx2" class="form-control" formControlName="name" id="basicExample"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" [mdbValidation]="false" mdbInputDirective>
                  <label for="basicExample">Identifiant véhicule</label>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Identifiant requis </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="text-center">
              <button class="btn btn-deep-orange">Ajouter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
  </div>
  <div class="alert alert-danger" role="alert" style="width:95%">
    <h4 id="h4alert">Utilisateur à superviser</h4>
    <hr>
    <br>
    Afficher nombre de signalements + Stats de diffusion + TI
  </div>
</div>