<div class="container">
  <div class="jumbotron">
    <div id="div1">
    <h2> Informations </h2>
      <img src="https://i.pinimg.com/originals/e9/41/5e/e9415ec7f4254cc0169ea67a04e9a975.png" class="rounded-circle" id="img1">
      <b style="font-size:33px; margin-left: 1%">getUser()</b>
    </div>  
    <hr class="my-4">
    <div class="wrapper">
      <div class="one">
        <i class="fas fa-user fa-3x"></i>
      </div>
      <div class="two"><b>Nom</b>: Dupont
        <br> <b>Prénom</b>: Maurice
      </div>
      <div class="three">
        <i class="far fa-check-circle fa-3x"></i>
      </div>
      <div class="four"><b>Indice de confiance<br></b>200</div>
      <div class="five">
        <i class="fas fa-car fa-3x"></i>
      </div>
      <div class="six">
        <b>Véhicule:</b> Twingo
        <br>
        <b>Année:</b> 2003
        <br>
        <b>Immatriculation:</b> AA-229-AA
      </div>
    </div>
    <hr class="my-4">
    <h2 id="h2stats"> Statistiques des flux </h2>
  </div>
</div>