<app-sidebar-user></app-sidebar-user>

<!-- fin sidebare-->


  <div class="container-fluid">
<div id="div1">

  <!--     titre       -->
  <mdb-card>
    <mdb-card-body>
      <h6 style="font-size:50px;">Abonnements</h6>
    </mdb-card-body>
  </mdb-card>

  <!--     fin titre       -->



  <div class="wrapper">

    <div class="one1">
      <span class="contact100-form-title">
      <br>
        Mes Abonnements
      </span>
    </div>

    <div class="one2">
      <mdb-card>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">  <a class="click" href="/entrant">Sécurité</a></li>
          <li class="list-group-item">    <a class="click" href="/entrant">  Les copains du projet S8</a></li>
          <li class="list-group-item">  <a class="click" href="/entrant">Etats de la route</a></li>
        </ul>
      </mdb-card>
    </div>



    <div class="two1">
      <span class="contact100-form-title">
        <br>
        Flux disponibles       
      </span>
    </div>

    <div class="two2">
      <mdb-card>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">  <a class="click" href="/entrant">Sécurité</a></li>
          <li class="list-group-item">    <a class="click" href="/entrant">  Les copains du projet S8</a></li>
          <li class="list-group-item">  <a class="click" href="/entrant">Etats de la route</a></li>
          <li class="list-group-item">  <a class="click" href="/entrant">Etats de la route</a></li>
          <li class="list-group-item">  <a class="click" href="/entrant">Etats de la route</a></li>
          <li class="list-group-item">  <a class="click" href="/entrant">Etats de la route</a></li>
        </ul>
      </mdb-card>
    </div>

  </div>
</div>
</div>
