<div class="container" style="width:50%">

  <h2>Identifiez-vous !</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="pseudo">Pseudo</label>
      <input type="text" formControlName="pseudo" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.pseudo.errors }" autofocus />
      <div *ngIf="submitted && f.pseudo.errors" class="invalid-feedback">
        <div *ngIf="f.pseudo.errors.required">Pseudo requis</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Mot de passe requis</div>
      </div>
    </div>
    <div class="form-group">
      <div>
        <button [disabled]="loading" class="btn btn-primary">Se connecter</button>
        <button mdbBtn id="button1" type="button" color="warning" outline="true" mdbWavesEffect routerLink="/inscription">S'inscire</button>
      </div>
      <div class="spinner-border" role="status" *ngIf="loading">
        <span class="sr-only" >Loading...</span>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </form>
</div>