<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Secur'IoV</a></mdb-navbar-brand>

    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" mdbWavesEffect>
                <a class="nav-link" *ngIf="!currentUser" routerLink="/inscription">Inscription</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" *ngIf="currentUser" routerLink="/userinformation">Utilisateur</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="currentUser">
            <li class="nav-item">
                <a class="nav-link">
                    <div class="btn-group" mdbDropdown>
                        <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
                        <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                            <a class="dropdown-item" *ngIf="currentUser" routerLink="/admin">Gestion du réseau</a>
                            <a class="dropdown-item" routerLink="/account">Mon compte</a>
                            <a class="dropdown-item" [routerLink]="['/profile',id]">Mon profil</a>
                            <div class="divider dropdown-divider"></div>
                            <a class="dropdown-item" (click)="logout()">Déconnexion</a>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    
    </links>
</mdb-navbar>