<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
  <h3 class="w3-bar-item" style="text-align:center;">Actions</h3>
  <a routerLink='/admin/manageuser' class="w3-bar-item w3-button"><mdb-icon fas icon="plus mr-3"></mdb-icon> Ajouter/Retirer un véhicule</a>
  <a routerLink='/admin/manageTI' class="w3-bar-item w3-button"><mdb-icon fas icon="chart-line mr-3"></mdb-icon> Augmenter/Diminuer le TI</a>
  <a routerLink='/admin/managerights' class="w3-bar-item w3-button"><i class="fas fa-user-check mr-3"></i> Modification des droits</a>
  <a routerLink='/admin/manageissues' class="w3-bar-item w3-button"><i class="fas fa-exclamation-triangle mr-3"></i>Signalements reçus</a>
</div>