

<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
  <h3 class="w3-bar-item">Actions</h3>
  <a class="nav-link active" href="/compte">Mes Statistiques</a>
  <a class="nav-link" href="/abonnement">Mes Abonements</a>
  <a class="nav-link" href="/diffusion">Diffuser du contenu</a>
</div>

<!--
<div class="container">
  <div class="jumbotron">
    <div id="div1">
      <div class="wrapper">

        <div class="nav1">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="/compte">Mes Statistiques</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/abonnement">Mes Abonements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/diffusion">Diffuser du contenu</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
-->

  <div id="div1">
    <div >
      <b style="font-size:33px;text-align: center;">Abonnements</b>
    </div>


    <hr class="my-4">
    <div class="wrapper">

      <div class="one1">
        <span class="contact100-form-title">
          Mes Abonnements
        </span>
      </div>
      <div class="one2">
        <h5>
          Sécurité
        </h5>
      </div>
      <div class="one3">
        <h5>
          Les copains du projet S8
        </h5>
      </div>
      <div class="one4">
        <h5>
          Etats de la route
        </h5>
      </div>
      <div class="one5">
        <h5>
        Météo
        </h5>
      </div>


      <div class="two1">
        <span class="contact100-form-title">
         Flux disponibles
        </span>
      </div>
      <div class="two2">
        <h5>
          Sécurité
        </h5>
      </div>
      <div class="two3">
        <h5>
          Les copains du projet S8
        </h5>
      </div>
      <div class="two4">
        <h5>
          Etats de la route
        </h5>
      </div>
      <div class="two5">
        <h5>
        Météo
        </h5>
      </div>

    </div>
</div>


    <!--  </div>
  </div>
  <hr class="my-4">
  <h2 id="h2stats"> Statistiques des flux </h2>
</div>-->
