<app-sidebar-user></app-sidebar-user>

<div class="container-fluid">
<div id="div1">

  <!-- <img src="http://vignette2.wikia.nocookie.net/broforce/images/b/b7/MrAnderbro.png/revision/latest?cb=20160725144453" class="rounded-circle" id="img1">
        titre  de page    -->
  <mdb-card>
    <mdb-card-body>
      <h6 style="font-size:50px; margin-left:0px;">Mon compte</h6>
    </mdb-card-body>
  </mdb-card>

  <!--     fin titre       -->


  
  <div class="wrapper">

    <div class="one1">
      <span class="contact100-form-title">
        <br>
        Mes Statistiques
      </span>
    </div>
    <div class="one2">
      <mdb-card>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> <a class="click" href="/entrant">Temps de vidéos transmis:</a></li>
          <li class="list-group-item"> <a class="click" href="/entrant"> Nombre de "retours positifs":</a></li>
          <li class="list-group-item"> <a class="click" href="/entrant">Nombre de "retours négatifs":</a></li>
          <li class="list-group-item"> <a class="click" href="/entrant"> Note actuelle: </a></li>
        </ul>
      </mdb-card>
      <br>
      <button type="button" class="btn btn-outline-danger" (click)="doReporting()">Signaler</button>
    </div>
</div>
</div>
</div>
