

#div1{
    text-align: center;
    margin-left: 20%;

}


h2 {
    color: #006699;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 48px;
    text-decoration-color: navy;
    text-align: center;
  }


a {
  color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#img1{
    width: 10%;
    height: 10%;
    border: solid 1px grey;
    vertical-align:middle;
}

.wrapper2 { /*https://codepen.io/anon/pen/YBgxpP pour le faire facilement */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 20%;
}




.diffusion{
  grid-column: 5 / 10 ;
  grid-row: 3 / 4;
  text-align: center;
}
.nav1 {
  grid-column: 1 / 10 ;
  grid-row: 1 / 2;
  text-align: center;
}
.selection{

    grid-column: 3 / 7 ;
    grid-row: 3/ 4;
    text-align: center;
    padding: 15px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
label{
  color: #006699;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 48px;
}
.dropdown{
  grid-column: 3 / 7 ;
  grid-row: 3/ 4;
  text-align: center;
  padding: 15px 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: /*#4CAF50*/#000000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-column: 3 / 7 ;
  grid-row: 5 / 6;
}

.button:hover {background-color: /*#3e8e41*/#808080}

.button:active {
  background-color: #000000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
.container {
	max-width: 1200px;
}



h6 {
  color: #006699;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}







/*sidebare*/



.w3-sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  overflow: auto;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}


.w3-sidebar.list-group list-group-flush .active
{
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  -webkit-border-radius: 5px;

  border-radius: 5px;
}



.w3-sidebar .logo-wrapper {
  padding: 0.5 rem;
}

.w3-sidebar .logo-wrapper .img-responsive  {
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto
}



.w3-sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.w3-sidebar a.active {
  background-color: #318CE7;
  color: white;
}

.w3-sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .w3-sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .w3-sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .w3-sidebar a {
    text-align: center;
    float: none;
  }

}





/*fin sidebare*/
