<app-sidebar-user></app-sidebar-user>

<div class="container-fluid">
  <div id="div1">
    <mdb-card>
      <mdb-card-body>
        <h6 id="h6md">Diffuser une vidéo</h6>
      </mdb-card-body>
    </mdb-card>

    <div class="wrapper2">
      <div class="selection">
        <div class="text-center">
          <input type="file" class="text-center center-block file-upload">
        </div>
        <br>
        <label>Envoyer ma vidéo au groupe de:</label>
        <select class="custom-select" multiple>

          <option value="1">Sécurité</option>
          <option value="2">Les copains du projet S8</option>
          <option value="3">Etat de la route</option>
        </select>

      </div>

      <button class="button" type="button" mdbBtn color="primary" mdbWavesEffect (click)="popUp()">Diffuser ma vidéo!</button>

    </div>

  </div>
</div>